---
import { getCollection } from 'astro:content';
import WeaponList from '../components/WeaponList.astro';
import Layout from '../layouts/Layout.astro';

const weapons = await getCollection("weapons");
---

<Layout>
	<div class="flex flex-col gap-2 p-4">
		<span class="font-semibold text-xl text-stone-100 leading-tight">The Grim Grimoire</span>
		<span class="text-sm text-stone-300 italic leading-tight">
			An unofficial fan tool for
			<a class="link" href="https://store.steampowered.com/app/1794680/Vampire_Survivors/" target="_blank">Vampire Survivors</a>.
			<a class="link" href="https://github.com/mhoc/grimgrimoire.com" target="_blank">Code</a>.
		</span>
	</div>
	<div class="px-4">
		<WeaponList weapons={weapons} />
	</div>
</Layout>
<style>
	.link {
		color: #a1a1aa;
		text-decoration: underline;
		text-decoration-color: #a1a1aa;
		text-decoration-style: dashed;
	}
</style>
