---
type Props = {
  href: string;
  imageUrl: string;
  name?: string;
}
const { href, imageUrl, name } = Astro.props;
---
<a class="container" href={href}>
  <img class="img" src={imageUrl} />
  {name && <span class="name">{name}</span>}
</a>
<style>
  .container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .img {
    max-height: 100px;
    max-width: 100px;
  }
  @media (max-width: 600px) {
    .img {
      max-height: 25vw;
      max-width: 25vw;
    }
  }
  .name {
    color: #d6d3d1;
    font-size: 0.6rem;
    text-align: center;
  }
</style>