---
type Props = {
  href: string;
  imageUrl: string;
  large?: boolean;
  name?: string;
}
const { href, imageUrl, large, name } = Astro.props;
---
<a class="container" href={href}>
  <img class={large ? "img-large" : "img"} src={imageUrl} />
  {name && <span class="name">{name}</span>}
</a>
<style>
  .container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .img {
    max-height: 100px;
    max-width: 100px;
  }
  .img-large {
    max-height: 100px;
    max-width: 100px;
  }
  .name {
    color: #d6d3d1;
    font-size: 0.6rem;
    text-align: center;
  }
</style>