---
import { getCollection, getEntry } from 'astro:content';
import WeaponMenuIcon from './WeaponMenuIcon.astro';

const weapons = await getCollection('weapons');

type Props = {
  id: string;
}

const { id } = Astro.props;
const evolution = await getEntry("evolutions", id);
---
<div class="container">
  {evolution?.data.left.map((left) => {
    return <WeaponMenuIcon 
      href={`/${left.id}`}
      imageUrl={`/${left.id}.webp`}
      name={`${weapons.find(w => w.data.id === left.id)?.data.name}${left.max ? " (max)" : ""}`} 
    />
  })}
  <span class="arrow">-></span>
  {evolution?.data.right.map((right) => {
    return <WeaponMenuIcon 
      href={`/${right.id}`}
      imageUrl={`/${right.id}.webp`}
      name={`${weapons.find(w => w.data.id === right.id)?.data.name}${right.max ? " (max)" : ""}`}
    />
  })}
</div>
<style>
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .arrow {
    color: #d6d3d1;
  }
</style>