---
import ItemIcon from './ItemIcon.astro';

type Props = {
  weapons: { id: string; data: any }[];
};

const { weapons } = Astro.props;
---
<div class="flex flex-col gap-4 container">
  <input
    autofocus
    class="bg-stone-700 border-0 text-stone-300 resize-none outline-0 text-md h-10 px-4 py-2 rounded-md"
    id="search-box"
    placeholder="Search..."
  />
  <div class="flex flex-row gap-1 flex-wrap" id="weapon-list">
    {weapons.map((weapon) => (
      <ItemIcon href={`/${weapon.id}`} imageUrl={`/${weapon.id}.webp`} />
    ))}
  </div>
</div>
<script>
const searchBox = document.getElementById("search-box");
function onKeyDown(e: any) {
  if (e.keyCode == 13) {
    e.preventDefault();
    return false;
  }
  const weaponList = (document.getElementById("weapon-list")?.children ?? []) as HTMLElement[];
  const query = e.target.value.toLowerCase().split(" ") as string[];
  if (query.length > 0 && query[0] === "") {
    for (const weapon of weaponList) {
      weapon.style.display = "";
    }
  } else {    
    for (const weapon of weaponList) {
      const value = weapon.getAttribute("href");
      weapon.style.display = query.every(qp => value?.includes(qp)) ? "" : "none";
    }
  }
}
searchBox?.addEventListener("keyup", onKeyDown);
</script>
