<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>The Grim Grimoire</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	html, body {
		background-color: #27272a;
		height: 100%;
		margin: 0;
		width: 100%;
	}
	* {
		font-family: "Geist Mono";
	}
</style>
